<mat-toolbar class="bg-blue-800 text-white"
  >logo

  <div>
    <h1
      *ngIf="authService.user | async as user; else auth"
      [matMenuTriggerFor]="userMenu"
      class="cursor-pointer flex items-center"
    >
      {{ user.displayName }}

      <mat-icon>arrow_drop_down</mat-icon>
    </h1>
    <ng-template #auth>
      <span routerLink="/signup" class="cursor-pointer">sign up</span>
      <span class="h-6 border border-r-white mx-3"></span>
      <span routerLink="/login" class="cursor-pointer">login</span>
    </ng-template>
  </div>
</mat-toolbar>
<mat-menu #userMenu yPosition="below">
  <button mat-menu-item>
    <mat-icon>account_circle</mat-icon>
    Profile
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-menu>
<main class="h-screen flex justify-center items-center bg-slate-200">
  <router-outlet></router-outlet>
</main>
